# Mannualy edited.  , tkdestroy, tkframe, ttkentry, tkgrid, tkscale

# Export all names that don't start with .
exportPattern("^[^\\.]")

# Import all packages listed as Imports and others
import(Rcmdr,
  coin,
  survival,
  multcomp)
  
importFrom(tcltk, ttknotebook, tkadd, tkselect, ttklabel, tkbutton)
